.introduvtion {
  min-height: 100vh;

  .main-text-area {
    align-items: center;
    display: flex;
    font-size: 4.5rem;
    font-weight: bold;
    height: 100vh;
    justify-content: center;
  }
}
