.main-contents {
  .apply-content {
    font-size: 3.8rem;
    line-height: 12vh;
    margin: 5vh 5vw 0;
    text-align: left;

    &.change-pages-links {
      margin-top: 0;
    }

    ul {
      margin: 0;

      li {
        padding-left: 1rem;
      }
    }

    .image {
      margin: auto;
      width: 60vw;
    }

    .page-capture {
      margin-top: 5vh;
    }

    .link-area {
      left: 0;
      position: absolute;
      top: 0;
      width: 100vw;

      .link-area-common {
        height: 100vh;
        position: relative;

        .text-area {
          font-size: 5rem;
          font-weight: bold;
          left: 0;
          line-height: 20vh;
          position: absolute;
          right: 0;
          text-align: center;
          top: 40vh;
        }
      }

      .preb-link-area {
        background-color: rgba(#FF9933, .5);
      }

      .next-link-area {
        background-color: rgba(#0099FF, .5);
      }
    }
  }
}
