.main-contents {
  .split-component {
    font-size: 3.5rem;
    line-height: 12vh;
    margin: 5vh 8vw 0;
    text-align: left;

    .slide-title-img {
      margin-left: 10vw;
      width: 60vw;
    }
  }
}
