@import "../../common/style/base";

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $base-back-color;
  color: $base-font-color;
  font-family: "Hiragino Maru Gothic ProN", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  text-align: center;

  .transition-page-area {
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: 1000;

    .preb-page,
    .next-page {
      height: 100vh;
    }

    .preb-arrow,
    .next-arrow {
      bottom: 0;
      height: 56px;
      margin: auto;
      opacity: .2;
      position: absolute;
      top: 0;

      img {
        height: 100%;
        width: auto;
      }
    }

    .preb-arrow {
      left: 20px;
    }

    .next-arrow {
      right: 20px;
    }
  }
}
