@import "../../common/style/base";

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $base-back-color;
  color: $base-font-color;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  text-align: center;
}
