.title
  .title-area
    el-row.main-title
      el-col VueとServerlessと (AWSと) 私
    el-row.sub-title
      el-col Ryosuke Izumi ( is_ryo )
  .vue-logo
    img(src="../../assets/vue_logo.png" alt="vue-logo")
