.introduction {
  .images-content {
    height: 85vh;
    position: relative;

    .self-image {
      left: 5vw;
      position: absolute;
      top: 5vh;
      width: 28vw;
    }

    .sns-image {
      bottom: -5vh;
      position: absolute;
      right: -5vw;
      width: 14vw;
    }
  }

  .text-content {
    font-size: 3.5rem;
    margin: auto;
    padding-left: 2vw;
    position: absolute;
    text-align: left;
    top: 5vh;

    li {
      margin: 10px 0;
      padding-left: 1rem;
    }
  }
}
